.sidebar-about h1 {
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.icon-row {
	padding: 0;
}

.icon-row li {
	width: 32px;
	height: 32px;
	margin: 2px 4px 2px 4px;
	display: block;
	float: left;
}

.icon-row img {
	width: 32px;
	height: 32px;
}