{% extends "hyde/templates/index.html" %}

{% block sidebar_about %}
    <a href="{{ config.base_url }}"><h1>{{ config.title }}</h1></a>
    {% if config.description %}
    <p class="lead">{{config.description}}</p>
    {% endif %}
{% endblock sidebar_about %}

{% block extra_head %}
<link rel="stylesheet" href="{{ get_url(path="styles.css", trailing_slash=false) }}">
{% endblock extra_head %}

{% block sidebar_nav %}
{% for link in config.extra.hyde_links %}
<li class="sidebar-nav-item"><a href="{{link.url}}">{{link.name}}</a></li>
{% endfor %}
<li class="sidebar-nav-item">
<ul class="icon-row">
	<li>
		<a href="http://github.com/lavifb/"><img src="{{config.base_url}}/icons/github.svg" alt="GitHub"></a>
	</li>
	<li>
		<a href="https://twitter.com/lavifb"><img src="{{config.base_url}}/icons/twitter.svg" alt="Twitter"></a>
	</li>
	<li>
		<a href="https://www.linkedin.com/in/lavifb/"><img src="{{config.base_url}}/icons/linkedin.svg" alt="LinkedIn"></a>
	</li>
</ul>
</li>
{% endblock sidebar_nav %}